body,
html {
    font-family: 'Poppins', sans-serif;
}

::selection{
    @apply bg-primary text-white;
}

/* width */
::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,h2{
  @apply font-bold;
}

// @media (min-width: 1280px){
//   .container{
//     max-width: 1300px;
//   }
// }
@media (min-width: 1536px){
  .container{
    max-width: 1300px;
  }
}

img{
    @apply max-w-full h-auto;
}

.btn{
    @apply py-3 px-4 md:px-6 bg-primary rounded text-sm font-light text-white inline-block outline-none focus:ring-0 focus:outline-none transition hover:bg-black duration-500;
}

.section-padding{
  @apply py-10 md:py-28;
}
.section-sm-padding{
  @apply py-10 md:py-16;
}

.text-content{
  @apply text-sm md:text-base leading-normal font-medium;
}

.section-heading{
  @apply text-2xl md:text-4xl font-bold mb-6;
}

.theme-input{
  @apply w-full p-5 text-sm text-black placeholder:text-black/40 focus:ring-0 focus:outline-none outline-none appearance-none;
}
select.theme-input{
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>');
  background-size: 20px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
}

.slick-h-full{
  [class*="slick-"]{
    @apply h-full;
    > div{
      @apply h-full;
    }
  }
}

.slick-indicators{
  &.slick-black-dots{
    .slick-arrow{
      @apply border-black -bottom-6 md:-bottom-10;
      &.slick-prev {
          left: auto;
          right: 120px;
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" /></svg>');
          background-size: 16px;
          background-position: center;
        }
      
        &.slick-next {
          right: 90px;
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /></svg>');
          background-size: 16px;
          background-position: center;
        }
    }
  }
}