.hero-section{
    background: radial-gradient(circle, #343151 0%, #262445 100%);
    @apply relative;
}

.hero-slider{
    [class*="slick-"]{
        &:not(.slick-dots,.slick-arrow,.slick-active){
            @apply h-full;
        }
        > div{
            @apply h-full;
        }
    }
}

.section-title{
    @apply text-xl md:text-[32px] font-semibold leading-7 md:leading-[48px] inline-block mx-auto;
}

.slick-overflow-visable{
    .slick-list{
        overflow: visible;
    }
}

.gradient-title{
    background: #8163D6;
    background: linear-gradient(to right, #8163D6 0%, #9A8FDD 50%, #B491D1 50%, #D794C6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-overlay{
    position: relative;
    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(60deg, #262445 47.26%, rgba(38, 36, 69, 0) 81.28%);
        opacity: 0.3;
    }
}

.slick-indicators{
    margin-bottom: 0 !important;
    .slick-dots{
            width: 155px;
            height: 44px;
            padding: 14px 12px;
            background: #A81E31;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: end;
            bottom: 0;
            right: 0;
        li{
            margin: 0;
            width: auto;
            height: auto;
            display: flex;
            button{
                width: 6px;
                height: 6px;
                padding: 0;
                border-radius: 100%;
                background-color: #ffffff;
                opacity: 0.2;
                margin: 0;
                transition: all 0.5s;
                &:before{
                    display: none;
                }
            }
            &.slick-active{
                button{
                    width: 8px;
                    height: 8px;
                    opacity: 1;
                }
            }
        }
    }
    .slick-arrow{
        height: 20px;
        width: 20px;
        top: auto;
        bottom: 12px;
        transform: none;
        z-index: 9;
        &:before{
            display: none;
        }
        &.slick-prev{
            left: auto;
            right: 120px;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ffffff" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>');
            background-size: 20px;
        }
        &.slick-next {
            right: 90px;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ffffff" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>');
            background-size: 20px;
        }
    }
}

.slick-arrow-bottom-center{
    .slick-arrow{
        width: 16px;
        height: 16px;
        top: auto;
        bottom: -50px;
        transform: translate(0);
        background-size: 16px !important;
        &.slick-prev{
            // background: url(../images/icons/charm_arrow-left.svg);
            // left: calc(50% - 30px);
            // transform: translateX(-50%);
            @media(min-width:1200px){
                left: calc(60% - 25px);
            }
        }
        &.slick-next{
            // background: url(../images/icons/charm_arrow-right.svg);
            // right: calc(50% - 30px);
            // transform: translateX(50%);
            // @media(min-width:1200px){
            //     right: calc(40% - 25px);
            // }
        }
        &:before{
            @apply hidden;
        }
    }
}

.slider-progress{
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% - 155px);
	height: 44px;
    background-color: #333333;
}
.slider-progress span{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 0px;
	height: 100%;
	background-color: #4D4D4D;
	transition: all 0s linear;
}
.slider-progress span.active{
	width: 100%;
}

.slick-dots-bottom{
    .slick-dots{
        @apply h-auto bg-transparent p-0 bottom-0 left-1/2 -translate-x-1/2 justify-center gap-4;
        li{
            &.slick-active{
                button{
                    @apply bg-primary w-3.5 h-3.5;
                }
            }
            button{
                @apply bg-gray-dark w-2.5 h-2.5 opacity-100;
            }
        }
    }
}

.slick-vertical-center-arrow{
    .slick-arrow{
        @apply w-8 h-8 border-2 border-solid border-black rounded-full bottom-auto top-14 hover:opacity-75;
        &.slick-prev{
            @apply right-auto left-0;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" /></svg>');
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.slick-next{
            @apply right-0;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /></svg>');
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.timelineSlider {
    .slick-track {
        display: flex;
        align-items: center;
    }
}

.timelineSliderNav {
    width: 100%;
    .slick-list {
        display: flex;
        width: 100%;
        .slick-track{
            width: 100% !important;
            position: relative;
            display: flex;
            justify-content: space-evenly;
            &:before{
                content: "";
                display: block;
                width: 100%;
                height: 15px;
                border-radius: 15px;
                background: linear-gradient(90deg, rgba(96,15,41,1) 10%, rgba(113,42,171,1) 22%, rgba(0,83,104,1) 34%, rgba(106,194,0,1) 47%, rgba(239,213,0,1) 62%, rgba(247,148,37,1) 76%, rgba(236,53,87,1) 90%);
                position: absolute;
                top: 14px;
                left: 0;
            }
            &:after{
                display: none;
            }
        }
        .is-active {
            color: #917412;
            &:before {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background: #fff;
                border-radius: 10px;
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 9;
            }
        } 
        .slick-slide {
            text-align: center;
            display: flex;
            justify-content: center;
            position: relative;
        }
    }
}

#timelineSliderNavTopDates {
    display: flex;
    margin-left: 10%;
    position: relative;
    top: 20px;

    span {
        margin-right: 25%;
        position: relative;
        padding-top: 5px;

        &:before {
            content: '';
            display: block;
            height: 20px;
            width: 1px;
            position: absolute;
            bottom: -15px;
            background: black;
            left: 18px;
        }
    }
}

#timelineSliderNavBottomDates {
    display: flex;
    margin-left: 25%;
    position: relative;
    top: -50px;

    span {
        margin-right: 32%;
        position: relative;
        padding-top: 5px;

        &:before {
            content: '';
            display: block;
            height: 20px;
            width: 1px;
            position: absolute;
            top: -15px;
            background: black;
            left: 18px;
        }
    }
}

.product-slider .slick-track{
    @apply flex items-center;
}